*{
    box-sizing: border-box;
}
body {
    font-family: "effraregular";
    min-width: 1240px;
    // color: #fff;
}
.btn {
    font-family: "effrabold";
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 31px;
    @include border-radius($radius: 2px);
    @include t25();
}
.btn-red {
    background: $red;
}
.btn-grey {
    background: $dark-grey;
    padding: 7px 31px;
}
.btn-tr {
    background: transparent;
    padding: 7px 34px;
}
.btn-tr-big {
    background: transparent;
    padding: 18px 30px;
}


.container {
    width: 1240px;
    @include clearfix;
    margin: 0 auto;
    padding: {
        left: 35px;
        right: 35px;
    }
}

@include breakpoint(1024) {
    body{
        min-width: 1024px;
    }
    .container {
        width: 1024px;
        padding: {
            left: 42px;
            right: 42px;
        }
    }
}
@include breakpoint(768) {
    body{
        min-width: 768px;
    }
    .container {
        width: 768px;
        padding: {
            left: 20px;
            right: 20px;
        }
    }
}
@include breakpoint(320) {
    body{
        min-width: 320px;
    }
    .container {
        width: 320px;
        padding: {
            left: 20px;
            right: 20px;
        }
    }
}