/*
Hairline 100
Thin 200
Light 300
Regular 400
Medium 500
Semibold 600
Bold 700
Heavy 800
BLack 900
*/


@font-face {
    font-family: 'effrabold';
    src: url('fonts/dalton_maag_-_effra_boldfont.eot');
    src: url('fonts/dalton_maag_-_effra_boldfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_boldfont.woff2') format('woff2'),
         url('fonts/dalton_maag_-_effra_boldfont.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_boldfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'effraheavy';
    src: url('fonts/dalton_maag_-_effra_heavyfont.eot');
    src: url('fonts/dalton_maag_-_effra_heavyfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effra_heavyfont.woff2') format('woff2'),
         url('fonts/dalton_maag_-_effra_heavyfont.woff') format('woff'),
         url('fonts/dalton_maag_-_effra_heavyfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'effraregular';
    src: url('fonts/dalton_maag_-_effrafont.eot');
    src: url('fonts/dalton_maag_-_effrafont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dalton_maag_-_effrafont.woff2') format('woff2'),
         url('fonts/dalton_maag_-_effrafont.woff') format('woff'),
         url('fonts/dalton_maag_-_effrafont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('fonts/proximanova-boldfont.eot');
    src: url('fonts/proximanova-boldfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-boldfont.woff2') format('woff2'),
         url('fonts/proximanova-boldfont.woff') format('woff'),
         url('fonts/proximanova-boldfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}