section.enroll
	.container
		h2.enroll_title
			| Запишитесь на обследование
		form.enroll_form
			label.enroll_label
				span.enroll_label_text Телефон
				input.enroll_tel.tel_mask(type='text')
			button.enroll_link(type='submit')
				| Записаться на прием
section.about
	.container
		h2.about_title
			| Лечебно-диагностический центр
		.about_content
			p
				| Международного института биологических систем им. Сергея Березина.
			p
				| Работает для Вас с 2003 года. Основным направлением нашей деятельности является оказание
				| высокотехнологичной и доступной диагностической и лечебной помощи. На сегодняшний день
				| ЛДЦ МИБС – это: свыше 90 отделений магнитно-резонансной и мультиспиральной компьютерной
				| томографии, расположенных более чем в 65-ти городах России, Украине и Армении.
		a.about_more-link
			span
				| Узнать больше
			span.arrow