footer.footer
	.container
		.footer-left
			.left_line1
				.menu-toggle
					.icon
						.nav-icon
							span
							span
							span
				a.logo-footer(href='#')
					img(src='img/logo_white.svg')
			.left_line2
				a.telephone(href='tel:+78122440024')
					span.number
						| +7 (812) 244-00-24
					span.work-time
						| ежедневно с 7.00 до 23.00
				a(href='#enroll_block').enroll_link
					| Записаться на прием
			ul.other-links
				li.other-links-item
					a.other-link(href='#')
						| Наши центры
				li.other-links-item
					a.other-link(href='#')
						| Федеральное законодательство
				li.other-links-item
					a.other-link(href='#')
						| Информация о медицинской организации
				li.other-links-item
					a.other-link(href='#')
						| Лицензии
				li.other-links-item
					a.other-link(href='#')
						| Наши партнеры
			.left_line3
				.location-wrap
					span(href="#").location-title
						| Ваш город:
					a.location-city(href="#")
						span
							| Санкт-Петербург
				.socials-block
					span.socials-text
						| Мы в соц. сетях:
					ul.socials-list
						li.socials-item
							a.social-link._vk(href='#') VK
						li.socials-item
							a.social-link._insta(href='#') Insta
						li.socials-item
							a.social-link._fb(href='#') Facebook
		.footer-right
			.services-wrap
				ul.services-list
					li.services-item
						a.services-link(href='#')
							| Услуги
					li.services-item
						a.services-link(href='#')
							| Онкологический центр
					li.services-item
						a.services-link(href='#')
							| МРТ
					li.services-item
						a.services-link(href='#')
							| КТ
					li.services-item
						a.services-link(href='#')
							| ПЭТ/КТ
					li.services-item
						a.services-link(href='#')
							| Маммография
					li.services-item
						a.services-link(href='#')
							| УЗИ
					li.services-item
						a.services-link(href='#')
							| ЛКП
					li.services-item
						a.services-link(href='#')
							| Второе мнение
					li.services-item
						a.services-link(href='#')
							| ОМС
			.footer-menu
				ul.footer-menu-list
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Главная
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| О нас
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Новости
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Отзывы
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Вакансии
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Акции
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Врачи
					li.footer-menu-item
						a.footer-menu-link(href='#')
							| Контакты
			ul.other-links
				li.other-links-item
					a.other-link(href='#')
						| Наши центры
				li.other-links-item
					a.other-link(href='#')
						| Федеральное законодательство
				li.other-links-item
					a.other-link(href='#')
						| Информация о медицинской организации
				li.other-links-item
					a.other-link(href='#')
						| Лицензии
				li.other-links-item
					a.other-link(href='#')
						| Наши партнеры
