- var list = ["О нас", "Новости", "Отзывы", "Партнеры"]

header.header
    .container
        .header__top-line
            span.version
                | Версия для слабовидящих
            ul.header_menu__list
                li.menu__item
                    a.menu__link(href="#")
