section.news
	.container
		.news_container
			h2.news_block-title
				| Новости
			.news_list
				.news_item
					.news_date
						| 31.08.2016
					a(href='#').news_title
						| Петербург дополнительно оплатит радиохирургическое лечение 90 человек, больных
						| раком
				.news_item
					.news_date
						| 31.08.2016
					a.news_title(href='#')
						| Визит губернатора Георгия Полтавченко в центр протонной терапии
				.news_item
					.news_date
						| 31.08.2016
					a.news_title(href='#')
						| Петербург дополнительно оплатит радиохирургическое лечение 90 человек, больных
						| раком
				.news_item
					.news_date
						| 31.08.2016
					a.news_title(href='#')
						| Визит губернатора Георгия Полтавченко в центр протонной терапии
				.news_item
					.news_date
						| 31.08.2016
					a.news_title(href='#')
						| Петербург дополнительно оплатит радиохирургическое лечение 90 человек, больных
						| раком
				.news_item
					.news_date
						| 31.08.2016
					a.news_title(href='#')
						| Визит губернатора Георгия Полтавченко в центр протонной терапии
			a.news_archive-link(href='#')
				| Архив новостей
		.news_slider-container
			.slider-wrap
				.slide-block
					.slide_wrapper(style='background-image: url("img/sliders/news/slide1.jpg")')
						.slide-top
							.slide-title
								| Скидка 30 %
							.slide-subtitle
								| на консультацию невролога
						p.slide-note
							| Для всех кто прошел МРТ обследование
				.slide-block
					.slide_wrapper(style='background-image: url("img/sliders/news/slide1.jpg")')
						.slide-top
							.slide-title
								| Скидка 30 %
							.slide-subtitle
								| на консультацию невролога
						p.slide-note
							| Для всех кто прошел МРТ обследование
				.slide-block
					.slide_wrapper(style='background-image: url("img/sliders/news/slide1.jpg")')
						.slide-top
							.slide-title
								| Скидка 30 %
							.slide-subtitle
								| на консультацию невролога
						p.slide-note
							| Для всех кто прошел МРТ обследование
