section.statistac
	.container
		ul.stat_list
			li.stat_item
				p.stat_data
					span.img
					span.number 98
					span.of центров
				p.stat_note
					| в 68 городах России, Армении и Украины
			li.stat_item
				p.stat_data
					span.img
					span.number 20%
					span.of МРТ
				p.stat_note
					| исследований в России  проводится в клиниках ЛДЦ
			li.stat_item
				p.stat_data
					span.img
					span.number 7,5
					span.of млн. ислледований
				p.stat_note
					| в 68 городах России, Армении и Украины
			li.stat_item
				p.stat_data
					span.img
					span.number 1500
					span.of операций
				p.stat_note
					| ежегодно проводят врачи центров ЛДЦ
			li.stat_item
				p.stat_data
					span.img
					span.number 400
					span.of врачей
				p.stat_note
					| объединенных в единую телерадиологическую сеть

section.departments
	.container
		.department_block.big
			.department_img-wrap
				img(src='img/detail_block/block_1.jpg')
			.department_title
				| МРТ
			p.depertment_text
				| Томографический способ исследования внутренних органов и тканей использованием явления
				| ядерного магнитного резонанса.
			a.department_link(href='#')
				| Подробнее
		.department_block
			.department_img-wrap
				img(src='img/detail_block/block_2.jpg')
			.department_title
				| Центр радиохирургии
			p.depertment_text
				| Лучевой терапии и общей онкологии
			a.department_link(href='#')
				| Подробнее
		.department_block
			.department_img-wrap
				img(src='img/detail_block/block_2.jpg')
			.department_title
				| Центр Протонной терапии
			p.depertment_text
				| Первый в России и СНГ центр протонной терапии
			a.department_link(href='#')
				| Подробнее