.footer {
	background: rgb(65,77,88); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(65,77,88,1) 1%, rgba(65,77,88,1) 50%, rgba(60,72,81,1) 50%, rgba(60,72,81,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(65,77,88,1) 1%,rgba(65,77,88,1) 50%,rgba(60,72,81,1) 50%,rgba(60,72,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(65,77,88,1) 1%,rgba(65,77,88,1) 50%,rgba(60,72,81,1) 50%,rgba(60,72,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414d58', endColorstr='#3c4851',GradientType=1 ); /* IE6-9 */

	.container{

	}
}
.footer-left,
.footer-right {
	padding: {
		top:30px;
		bottom: 30px;
	}
}
.footer-left {
	.logo-footer{
		display: inline-block;
		width: 240px;
	}
}
.footer {
	font-size: 14px;
	.telephone {
		vertical-align: middle;
		padding-left: 33px;
		font-family: 'effra';
		color: #fff;
		display: inline-block;
		display: table-cell;
		position: relative;
		line-height: 1;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 18px;
			height: 30px;
			background: {
				image: url('../img/icons/mobile.svg');
				repeat: no-repeat;
				size: cover;
			}
		}
		.number {
			font-size: 24px;
			display: block;
		}
		.work-time{
			font-size: 14px;
			display: block;
		}
	}
	.enroll_link {
		vertical-align: middle;
		display: table-cell;
		border: 1px solid #fff;
		@include t25();
		&:hover {
			background-color: #fff;
			color: $footer-dark;
		}
	}
	.location-wrap {
		vertical-align: middle;
		display: inline-block;
		display: table-cell;
		color: #fff;
		.location-title:before {
		    background: url(../img/icons/location_blue.png);
		}
	}
	.socials-block {
		display: inline-block;
		display: table-cell;
		vertical-align: middle;
		font-size: 14px;
		color: #fff;
	}
	.left_line1,
	.left_line2,
	.left_line3 {
	}
	.left_line1,
	.left_line2{
		margin-bottom: 60px;
	}
}
.socials-block {

	.socials-text {
		vertical-align: middle;
		margin-right: 12px;
	}
}
.socials-list{
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	.socials-item{
		float: left;
		text-align: center;
	}
	.social-link {
		font-size: 0;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 2px solid #fff;
        @include border-radius(50%);
        &:after{
        	font-size: 14px;
        	content: '';
			display: inline-block;
			line-height: 40px;
			vertical-align: middle;
		    background-image: url(../img/icons/socials/socials.png);
	        background-repeat: no-repeat;
        }
		&._vk:after{
			width: 19px;
			height: 9px;
			background-position: -5px -105px;
		}
		&._insta:after{
			width: 16px;
			height: 16px;
			background-position: -5px -53px;
		}
		&._fb:after{
			width: 8px;
			height: 14px;
			background-position: -5px -5px;
		}
		&:hover{
			background-color: #fff;
			&._vk:after{
				background-position: -5px -124px;
			}
			&._insta:after{
				background-position: -5px -79px;
			}
			&._fb:after{
				background-position: -5px -29px;
			}
		}
	}
}

