body {
    background: $light-grey;
}
.header {
    &__top-line {
        height: 50px;
        line-height: 49px;
        background: $blue;
        color: #fff;
        position: relative;
        z-index: 2;
    }
    .version {
        font-family: "proxima_nova_bold";
        font-size: 16px;
        position: relative;
        padding-left: 50px;
        padding-right: 20px;
        margin-right: 40px;
        float: left;
        text-decoration: none;
        color: #fff;
        &:hover {
            background: #1a6eb4;
        }
        &:before {
            content: "";
            position: absolute;
            background: url(../img/icons/eye.png);
            width: 24px;
            height: 14px;
            top: 18px;
            left: 10px;
            display: block;
            cursor: pointer;
        }
    }
    &__menu {
        &_list {
            font-size: 14px;
            margin:  {
                top: 0;
                right: 25px;
                bottom: 0;
                left: 0;
            }
            padding: 0;
            float: left;
        }
        &_item {
            display: inline-block;
            margin-left: -3px;
            &:last-child {
                margin-right: 0;
            }
        }
        &_link {
            list-style-type: none;
            text-decoration: none;
            display: block;
            color: #fff;
            padding: 0 12px;
            position: relative;
            @include transition(.3s);
            span {
                position: relative;
                &:after {
                    @include transition(.25s);
                    content: "";
                    position: absolute;
                    bottom: -3px;
                    right: 0;
                    height: 1px;
                    width: 100%;
                    background: #337ebd;
                }
            }
            &--active {
                background: #1a6eb4;
                span {
                    &:after {
                        width: 20%;
                    }
                }
            }
            &:hover {
                background: #1a6eb4;
                span {
                    &:after {
                        width: 20%;
                    }
                }
            }
        }
    }
    .loupe {
        &-wrap {
            float: left;
            margin-right: 20px;
            font-size: 13px;
            form {
                position: relative;
                label {
                    background-image: url(../img/icons/loupe-dark.png);
                    background-position-y: 14px;
                    background-position-x: 5px;
                    background-repeat: no-repeat;
                    display: block;
                    width: 26px;
                    height: 49px;
                    display: block;
                    z-index: 3;
                    position: relative;
                    cursor: pointer;
                }
                .search-wrap {
                    position: absolute;
                    top: 50%;
                    // line-height: 1;
                    margin-top: -24px;
                    left: 0;
                }
                .search-m {
                    width: 0;
                    box-sizing: border-box;
                    border: none;
                    background-color: transparent;
                    height: 34px;
                    padding: 7px 65px 7px 40px;
                    -webkit-transition: all .5s ease-in-out;
                            transition: all .5s ease-in-out;
                    outline: none;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                    border-radius: 3px;
                    visibility:hidden;
                }
                .btn-search {
                    display: none;
                    position: absolute;
                    right: 1px;
                    top: 9px;
                    color: #fff;
                    border: none;
                    padding: 8px 11px;
                    font-size: 14px;
                    background: $blue;
                    z-index: 2;
                    line-height: normal;
                    border-radius: 3px;
                }
            }
        }
    }
    &-img {
        vertical-align: middle;
        cursor: pointer;
    }
}

.loupe-wrap {
    &.input-focus {
        .search-m {
            visibility:visible !important;
            width: 445px!important;
            border: 1px solid #ccc !important;
            background: #fff !important;
        }
        .btn-search {
            display: block !important;
        }
        + .adress-wrap,
        + .adress-wrap + .location-wrap {
            display: none;
        }
    }
}
.menu-toggle {
    display: none;
    position: relative;
    .icon {
        position: absolute;
        top: 18px;
        left: 14px;
    }
    float: left;
    .full {
        border: 1px solid #fff;
        border-radius: 2px;
        text-decoration: none;
        color: #fff;
        position: relative;
        padding:  {
            top: 11px;
            bottom: 11px;
            right: 10px;
            left: 36px;
        }
    }
    .short {
        @extend .full;
        display: none;
        // padding: 5px 17px;
    }
}
.menu-adaprive-wrap {
    position: relative;
}
.telephone {
    font-size: 20px;
    font-family: "effraheavy";
    color: #fff;
    text-decoration: none;
    display: none;
}
.location-header {
    position: absolute;
    right: 0;
    top: 7px;
    border-radius: 2px;
    border: 1px solid;
    line-height: 0;
    width: 40px;
    height: 35px;
    display: none;
    text-align: center;
    line-height: 35px;
    a {
        vertical-align: middle;
    }
    .js-location {
        img:nth-of-type(2) {
            display: none;
        }
        &.init {
            img {
                display: none;
            }
            img:nth-of-type(2) {
                display: inline-block !important;
            }
        }
    }
    .js-zap {
        display: none;
    }
}
.adress {
    &-wrap {
        font-size: 14px;
        float: left;
        position: relative;
        padding:  {
            top: 0;
            bottom: 0;
            right: 10px;
            left: 10px;
        }
        &:hover {
            background: #1a6eb4;
        }
    }
    &-title {
        text-decoration: none;
        color: #fff;
        position: relative;
        padding: 0 17px 0 10px;
        span {
            border-bottom: 1px dashed #fff;
        }
        &:after {
            content: "";
            position: absolute;
            background: url(../img/icons/arrow-down.png);
            width: 6px;
            height: 3px;
            top: 10px;
            right: 0;
        }
    }
    &-map {
        display: none;
        background: #fff;
        color: #424242;
        position: absolute;
        width: 250px;
        font-size: 16px;
        line-height: 13px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        -webkit-box-shadow: 0 2px 24px 0 rgba(0,0,0,.71);
           -moz-box-shadow: 0 2px 24px 0 rgba(0,0,0,.71);
                box-shadow: 0 2px 24px 0 rgba(0,0,0,.71);
        left: 0;
        z-index: -1;
        ul {
            margin: 0;
            padding: 0;
            li {
                margin: 0;
                padding: 0 5px;
                list-style-type: none;
                padding: 15px;
            }
        }
    }
}
.header {
    .location {
        &-wrap {
            float: left;
            margin-right: 10px;
            padding: 0 18px;
            &:hover {
                background: #1a6eb4;
            }
        }
    }
}
.location {
    &-wrap {
        font-size: 14px;
    }
    &-title {
        // margin-right: 5px;
        padding-left: 19px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: url(../img/icons/location.png);
            width: 11px;
            height: 16px;
            top: 0;
            left: 2px;
        }
    }
    &-city {
        text-decoration: none;
        color: #fff;
        position: relative;
        padding-right: 12px;
        margin-left: .3em;
        span {
            border-bottom: 1px dashed #fff;
        }
        &:after {
            content: "";
            position: absolute;
            background: url(../img/icons/arrow-down.png);
            width: 6px;
            height: 3px;
            top: 10px;
            right: 0;
        }
    }
    &-map {
        @extend .adress-map;
        background: #fff;
    }
}
.flags {
    &-wrap {
        float: right;
        border: 1px solid #337ebd;
        @include border-radius(2px);
        padding: 9px 10px;
        width: 78px;
        line-height: normal;
        margin: 7px 0 5px;
        &:hover {
            background: #1a6eb4;
        }
        .country {
            text-decoration: none;
            color: #fff;
            position: relative;
            padding-left: 24px;
            font-size: 14px !important;
            display: block;
            &:before {
                content: "";
                position: absolute;
                background: url(../img/icons/flag.png);
                width: 16px;
                height: 12px;
                top: 2px;
                left: 0;
            }
            &:after {
                content: "";
                position: absolute;
                background: url(../img/icons/arrow-down.png);
                width: 6px;
                height: 3px;
                top: 7px;
                right: 0;
                cursor: pointer;
            }
        }
    }
}
.flags-country {
    display: none;
    a {
        margin-top: 5px;
        padding-left: 24px;
        display: block;
        text-decoration: none;
        color: rgba(51, 51, 51, .34);
        text-decoration: none;
        position: relative;
        span {
            border-bottom: 1px solid dashed;
        }
        &:before {
            content: "";
            position: absolute;
            background: url(../img/icons/flag2.png);
            width: 16px;
            height: 12px;
            top: 3px;
            left: 0;
            opacity: 1;
        }
    }
}
.map-active {
    display: block !important;
}
.flags-wrap--active {
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .country {
        color: #333;
        &:after {
            content: "";
            position: absolute;
            background: url(../img/icons/arrow-down-dark.png);
            width: 6px;
            height: 3px;
            top: 7px;
            right: 0;
        }
    }
    &:hover {
        background: #fff;
    }
}
.adress-wrap--active {
    margin-top: 5px;
    background: #fff;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .adress-title {
        display: block;
        margin-top: -5px;
        color: #333;
        &:after {
            content: "";
            position: absolute;
            background: url(../img/icons/arrow-down-dark.png);
            width: 6px;
            height: 3px;
            top: 25px;
            right: 0;
        }
    }
    &:hover {
        background: #fff;
    }
}
.header__popup-wrap {
    @include border-radius(5px);
    margin-top: 30px;
    display: none;
    background: #fff;
    .container-popup {
        width: 1170px;
        position: relative;
        padding: 20px 35px 40px;
    }
    .popup-title {
        padding: 0;
        color: #424242;
        margin: 0;
        font-family: "effrabold";
        font-size: 28px;
        margin-bottom: 13px;
    }
    .popup-subtitle {
        font-size: 18px;
        color: #424242;
        font-style: italic;
        opacity: .4;
        margin-bottom: 40px;
        display: block;
    }
    .popup-close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .popup-content {
        ul {
            columns: 150px 5;

            li {
                padding:  {
                    top: 0;
                    right: 0;
                    left: 35px;
                    bottom: 3px;
                }
                line-height: 24px;
                font-size: 14px;
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: #424242;
                    &:hover {
                        color: #ed1b2f;
                    }
                }
            }
            .letter {
                padding-left: 0;
                span {
                    width: 35px;
                    display: inline-block;
                    color: #ed1b2f;
                    font-family: "effrabold";
                    font-size: 16px;
                }
            }
            .bold {
                font-weight: 700;
            }
        }
    }
}
.search::-webkit-input-placeholder {
    color: #333;
    font-size: 13px;
}
.search::-moz-placeholder {
    font-size: 13px;
    color: #333;
}/* Firefox 19+ */
.search:-moz-placeholder {
    font-size: 13px;
    color: #333;
}/* Firefox 18- */
.search:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
}
.nav-icon {
    width: 16px;
    height: 14px;
    position: relative;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
       -moz-transition: .5s ease-in-out;
         -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
    cursor: pointer;
}
.nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
       -moz-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
}
.nav-icon span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;
}
.nav-icon span:nth-child(2) {
    top: 5px;
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;
}
.nav-icon span:nth-child(3) {
    top: 10px;
    -webkit-transform-origin: left center;
       -moz-transform-origin: left center;
         -o-transform-origin: left center;
            transform-origin: left center;
}
.nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
    left: 2px;
}
.nav-icon.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}
.nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 12px;
    left: 2px;
}
.sidenav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .sub-list {
        // display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        .back {
            font-size: 20px;
            background: #3c4851;
            color: #fff;
            padding-left: 45px;
            &:after {
                content: "";
                position: absolute;
                background: url(../img/icons/arrow-left.png);
                width: 7px;
                height: 12px;
                left: 20px;
                top: 19px;
            }
            &:before {
                content: none;
            }
        }
        a {
            font-size: 16px;
        }
    }
    min-height: 100%;
    height: 100vh;
    width: 320px;
    position: fixed;
    z-index: 10;
    top: 0;
    // transform: translateX(-320px);
    left: -320px;
    background-color: #f0f2f5;
    overflow-x: hidden;
    transition: .5s;
    &--active {
        background: #fff;
    }
    .lvlin {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            background: url("../img/icons/arrow-right.png");
            width: 7px;
            height: 12px;
            top: 19px;
            right: 20px;
        }
    }
    a {
        // padding-left: 20px;
        line-height: normal;
        padding: 12px 20px 12px 20px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        transition: .3s;
        color: #333;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            border-bottom: 1px solid #e2e4e7;
            bottom: 0;
            left: 20px;
            height: 1px;
            width: 87.5%;
        }
    }
    .search-input {
        background: $blue;
        padding: 13px 0 17px;
        form {
            width: 280px;
            margin: 0 auto;
            .search-wrap {
                position: relative;
                border-radius: 2px;
                overflow: hidden;
                .search {
                    padding: 11px 15px;
                    border: none;
                    width: 280px;
                }
                .search::-webkit-input-placeholder {
                    color: #333;
                    font-size: 14px;
                    opacity: .34;
                }
                .search::-moz-placeholder {
                    color: #333;
                    font-size: 14px;
                    opacity: .34;
                }
                .search:-moz-placeholder {
                    color: #333;
                    font-size: 14px;
                    opacity: .34;
                }
                .search:-ms-input-placeholder {
                    color: #333;
                    font-size: 14px;
                    opacity: .34;
                }
                .btn-search-h {
                    position: absolute;
                    right: 2px;
                    top: 7px;
                    padding: 9px;
                    background: $blue;
                    border: none;
                    border-radius: 2px;
                    color: #fff;
                }
            }
        }
    }
}
.version-wrap {
    background: #3c4851;
    .version-h {
        width: 280px;
        font-family: "effrabold";
        text-decoration: none;
        margin: 0 auto;
        padding: 15px 0 !important;
        font-size: 20px;
        display: block;
        -webkit-transition: .3s;
                transition: .3s;
        color: #fff;
        position: relative;
        padding: 0;
        text-align: right;
        &:before {
            content: none;
        }
        &:after {
            content: "";
            position: absolute;
            background: url(../img/icons/eye.png);
            width: 24px;
            height: 14px;
            top: 0;
            bottom: 0;
            margin: auto;
            display: block;
            cursor: pointer;
        }
    }
}
.plus {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        background: url("../img/icons/plus.png");
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        right: 20px;
        top: 17px;
    }
    &.activee + .accor-list {
        display: block;
    }
}
.minus {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        background: url("../img/icons/minus.png");
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        right: 20px;
        top: 17px;
    }
}
.accor-list {
    display: none;
    .active {
        background: #fff;
        a {
            &:before {
                content: none;
            }
        }
    }
    li {
        background: #dee1e5;
        a {
            padding-left: 35px;
            &:before {
                border-bottom: 1px solid #d2d5d8;
                left: 20px;
            }
        }
    }
}
.sidenav-list {
    transition: all .5s;
}
.sidenav-tx {
    transition: all .5s;
    transform: translateX(-320px);
}
.sidenav.active-class {
    // transform: translateX(-320px);
    // margin-left: -320px;
    left: 0;
}
.active-class--fixed {
    margin-left: 320px;
}
.ml0 {
    margin-left: 0;
}
.ml250 {
    // transform: translateX(320px);
    margin-left: 320px;
}
.ml320 {
    margin-left: 320px !important;
}
.ml-320 {
    margin-left: -320px;
}
.wrapper {
    transition: all .5s;
    height: 100%;
}
.no-b {
    &:before {
        content: none !important;
    }
}
.no-tr {
    // transform: translateX(0px);
    margin-left: 0;
}
.header__popup-city {
    display: none;
    width: 280px;
    margin: 0 auto;
    background: #fff;
    margin-top: 50px;
    padding-top: 20px;
    position: relative;
    .popup-close {
        cursor: pointer;
        position: absolute;
        width: 14px;
        height: 14px;
        right: 0;
        top: -28px;
    }
    .container-short {
        // width: 280px;
        margin: 0 auto;
    }
    .city-search {
        .city-search-from-wrap {
            padding: 0 20px;
        }
    }
    .city-search-wrap {
        position: relative;
        margin-bottom: 10px;
        .search-city {
            outline: none;
            background: #f0f0f0;
            border: none;
            padding: 8px 13px;
            width: 100%;
            color: rgba(51, 51, 51, .34);
        }
        .btn-search-c {
            position: absolute;
            right: 0;
            border: none;
            top: 0;
            padding: 9px;
            color: #fff;
            font-size: 14px;
            background: $blue;
        }
    }
    .city-list {
        .bold {
            font-family: "effrabold";
        }
        margin: 0;
        padding: 0 20px;
        li {
            margin: 0;
            padding: 0;
            padding: 13px 0;
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: #333;
            font-size: 16px;
        }
        .city-item {
            position: relative;
            border-bottom: 1px solid #ebeced;
            .city-radio {
                position: absolute;
                width: 15px;
                height: 15px;
                right: 0;
                top: 14px;
            }
            .city-sub-list {
                display: none;
                width: 280px;
                margin-left: -20px;
                padding: 0;
                li {
                    position: relative;
                    background: #f0f2f5;
                    padding: 13px 20px;
                }
                input {
                    position: absolute;
                    top: 15px;
                    right: 20px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .after-plus {
            .city-link {
                padding: 2px 5px;
                font-size: 16px;
                color: #fff;
                border-radius: 2px;
                display: block;
                margin: 5px 0;
                position: relative;
                span {
                    width: 22px;
                    background: $red;
                    display: inline-block;
                    text-align: center;
                    height: 22px;
                    line-height: 22px;
                    @include border-radius(2px);
                }
                &:after {
                    content: "";
                    position: absolute;
                    background: url(../img/icons/plus-s.png);
                    width: 14px;
                    height: 14px;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                }
            }
        }
        li.after-plus {
            padding: 8px 0;
        }
    }
}
.pb0 {
    padding-bottom: 0 !important;
    border-bottom: none;
}


.header__sign-in {
    background: #fff;
    height: 100px;
    .sign-in-wrap {
        padding: 27px 0;
    }
    .container {
        @include clearfix;
        font-size: 0;
    }
    .logo-wrap,
    .nav,
    .phone-wrap,
    .signUp-wrap {
        display: inline-block;
        vertical-align: middle;
    }
    .logo {
        &-wrap {
            margin-right: 131px;
        }
        &-img {
            width: 235px;
            height: 40px;
            vertical-align: middle;
        }
        &-img-h {
            @extend .logo-img;
            display: none;
        }
    }
    .nav {
        margin-right: 70px;
        &-item {
            display: inline-block;
            color: #424242;
            font-size: 16px;
            font-family: "effrabold";
            margin-right: 33px;
            &:hover{
                color: #005eac;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .phone-wrap {
        position: relative;
        margin-right: 40px;
        margin-top: -15px;
        .phone {
            font-family: "effraregular";
            font-size: 24px;
            color: #424242;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: url(../img/icons/mobile.svg);
                width: 18px;
                height: 30px;
                top: 5px;
                bottom: 0;
                left: -30px;
                margin: 0auto;
                background-size: contain;
            }
        }
        .time {
            color: rgba(66,66,66,.34);
            font-size: 14px;
            position: absolute;
            width: 100%;
            bottom: -12px;
            left: 0;
        }
    }
    .signUp-wrap {
        .enroll_link {
            color: #fff;
            @extend .btn-red;
            background: #ed1b2f;
            font-size: 12px;
            &:hover {
                background: #f14959;
            }
        }
    }
    .menu-toggle {
        display: none;
    }
}

.header__sign-in--fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    height: 70px;
    padding: 12px 0;
    background: $blue;
    z-index: 2;
    .sign-in-wrap {
        .signUp-tel {
            display: none;
        }
        .logo-img {
            display: none;
        }
        .logo-img-h {
            display: block;
        }
        .signUp-wrap {
            display: inline-block;
        }
        padding: 0;
        a,
        span {
            color: #fff !important;
        }

        .phone {
            &:before {
                content: "";
                position: absolute;
                background: url(../img/icons/mobile-w.svg);
                width: 18px;
                height: 30px;
                top: 5px;
                bottom: 0;
                left: -30px;
                margin: 0;
                background-size: contain;
            }
        }
        span {
            bottom: -18px !important;
        }
    }
    .logo-wrap {
        margin-right: 130px;
    }
}

.header__popup-signUp {
    display: none;
    position: relative;
    .popup-close {
        cursor: pointer;
        position: absolute;
        right: -28px;
        top: -28px;
    }
    width: 430px;
    background: #f2f2f2;
    .container-short {
        width: 310px;
        margin: 0 auto;
        padding: 65px 0;
    }
    .signUp-title {
        font-size: 36px;
        color: #424242;
        margin-bottom: 25px;
    }
    form {
        label {
            font-size: 14px;
        }
        input {
            width: 100%;
            padding: 17px 22px;
            border: 1px solid transparent;
            @include border-radius(2px);
            outline: none;
            margin-bottom: 15px;
            &:focus {
                border: 1px solid $blue;
            }
        }
        .enroll_link {
            margin-top: 15px;
            background: #ed1b2f;
            font-size: 20px;
            width: 100%;
            text-transform: none;
        }
    }
}
.intro-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    .tabs-wrap {
        @include clearfix;
    }
    .tabs-list {
        ul {
            @include clearfix;
        }
    }
    .tabs-content {
        background: #fff;
        .tab {
            // display: none;
            min-height: 270px;
            .tabs-item {
                display: none;
            }
        }
        .mrt {
            @include clearfix;
            padding: 40px 35px;
            .mrt-list {
                float: left;
                margin-right: 60px;
                ul {
                    columns: 2 340px;
                    li {
                        padding-left: 20px;
                        color: #005eac;
                        font-size: 16px;
                        margin-bottom: 20px;
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            background: url("../img/icons/arrow-right-b.png");
                            width: 4px;
                            height: 7px;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .mrt-dscr {
                width: 340px;
                float: left;
                font-size: 14px;
                p {
                    margin-bottom: 25px;
                }
                a {
                    display: block;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-family: "effrabold";
                    background: #e6e8eb;
                    display: inline-block;
                    padding: 20px 30px;
                    @include border-radius(2px);
                    @include transition(.3s);
                    color: #424242;
                    text-align: center;
                    &:hover{
                        background: #005eac;
                        color: #fff;
                    }
                }
            }
        }
        .kt,
        .yam,
        .other {
            @extend .mrt;
            display: none;
        }
    }
}
.tabs-item {
    float: left;
    background: #e6e8eb;
    width: 285px;
    height: 70px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 10px;
    line-height: 70px;
    padding-left: 80px;
    &:hover{
        background: #e1e3e5;
    }
    &:last-child {
        margin-right: 0;
    }
    a {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
    }
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 56px;
        height: 46px;
        left: 10px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    // .tabs-item--active
    &--active {
        background: #fff;
        &:hover{
            background: #fff;
        }
    }
}
.mrt {
    &:before {
        background: url("../img/icons/mrt.png");
        background-repeat: no-repeat;
    }
}
.kt {
    &:before {
        background: url("../img/icons/comp.png");
        background-repeat: no-repeat;
        left: 17px;
    }
}
.yam {
    &:before {
        background: url("../img/icons/yam.png");
        background-repeat: no-repeat;
        left: 20px;
    }
}
.other {
    &:before {
        background: url("../img/icons/other_services.png");
        background-repeat: no-repeat;
        left: 24px;
    }
}
.tab-wrapper {
    @include clearfix;
}
.header__popup-lang {
    @include border-radius(2px);
    display: none;
    width: 280px;
    background: #fff;
    position: relative;
    .popup-close {
        position: absolute;
        width: 14px;
        height: 14px;
        top: -28px;
        right: 0;
    }
    .container-short {
        margin: 0 auto;
    }
    .lang-list {
        margin: 0;
        padding: 0;
    }
    .lang-item {
        cursor: pointer;
        padding: 20px 25px;
        border-bottom: 1px solid #dfe1e2;
        @include clearfix;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 17px;
            height: 12px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &.rus {
            &:before {
                background: url(../img/icons/flag.png);
            }
        }
        &.eng {
            &:before {
                background: url(../img/icons/flag2.png);
            }
        }
        &:last-child {
            border-bottom: none;
        }
        label {
            float: left;
            font-size: 16px;
            padding-left: 30px;
        }
        input {
            margin-top: 2px;
            float: right;
            width: 15px;
            height: 15px;
        }
    }
}
.arrow-up{
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 20px;    
    z-index: 2; 
    background: #3880bd;
    @include border-radius(2px);
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    .arrow-up-img{
        display: inline-block;
        margin: 10px 0 0 0;
        position: relative;
        &:after{
            content: "наверх";
            width: 32px;
            position: absolute;
            font-size: 10px;
            color: #fff;
            bottom: -13px;
            left: 50%;
            margin-left: -16px;
        }
    }
    span{
        font-size: 10px;
    }
}
@include breakpoint(1024) {
    .header__top-line {
        .version {
            margin-right: 10px;
        }
    }
    .header__sign-in--fixed {
        .menu-toggle {
            display: block;
        }
    }
    .header__popup-wrap {
        .container-popup {
            width: 940px;
            position: relative;
            padding: 20px 25px 40px;
        }
        .popup-content {
            ul {
                columns: 150px 5;
            }
        }
    }
    .header__menu_list {
        display: none;
    }
    .menu-toggle {
        display: block;
        margin-right: 20px;
    }
    .search-input,
    .version-wrap {
        display: none;
    }
    .header__sign-in {
        .logo-wrap {
            margin-right: 262px;
        }
        .nav {
            display: none;
        }
        &--fixed {
            .container {
                margin: 0;
            }
            .logo-wrap {
                display: none;
            }
            .menu-toggle {
                margin-right: 384px;
                display: block;
                padding: 15px 19px 11px 3px;
                font-size: 16px;
            }
        }
    }
    .intro-wrapper {
        .tabs-list {
            float: left;
            width: 300px;
            ul {
                .tabs-item--active {
                    width: 300px;
                }
                li {
                    float: none;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .tabs-content {
            float: right;
            width: 640px;
            .mrt {
                padding: 20px 35px;
                .mrt-list {
                    margin-right: 0;
                    ul {
                        columns: 1 320px;
                    }
                }
                .mrt-dscr {
                    width: 240px;
                    float: right;
                }
            }
        }
    }
}
@include breakpoint(768) {
    .header {
        .version {
            font-size: 0;
        }
    }
    .header__popup-wrap {
        .container-popup {
            width: 728px;
            position: relative;
            padding: 20px 15px;
        }
        .popup-content {
            ul {
                columns: 150px 5;
            }
        }
    }
    .header__sign-in {
        .logo-wrap {
            margin-right: 83px;
        }
        .phone-wrap {
            margin-right: 10px;
            margin-left: -3px;
        }
        &--fixed {
            .menu-toggle {
                margin-right: 205px;
            }
        }
    }
    .header__popup-signUp {
        .signUp-title {
            font-size: 28px;
            text-align: center;
        }
        width: 370px;
        .container-short {
            width: 290px;
            padding: 45px 0;
        }
    }
    .intro-wrapper {
        .tabs-content {
            float: right;
            width: 428px;
            .mrt {
                .mrt-list {
                    margin-right: 0;
                    margin-bottom: 20px;
                    ul {
                        columns: 1 320px;
                    }
                }
                .mrt-dscr {
                    width: 100%;
                    a {
                        width: 280px;
                    }
                }
            }
        }
    }
}
.signIn-form-tr {
    display: none;
    position: fixed;
    background: #fff;
    margin: 0 auto;
    max-height: 100vh;
    overflow: scroll;
    top: 50px;
    // left: -320px;
    left: 100%;
    // width: 320px;
    width: 100%;
    z-index: 10;
    @include t25();
    // .container-short {
    //     width: 280px;
    //     margin: 0 auto;
    // }
    .drop-down-wrap {
        height: 60px;
        background: #f0f2f5;
        // width: 320px;
        width: 100%;
        // margin-left: -20px;
        padding: 15px 20px;
        margin-bottom: 20px;
        @include clearfix;
        .location {
            float: left;
            margin-top: 5px;
            position: relative;
        }
        .lang {
            float: right;
        }
    }
    .drop-down-l{
        padding: 0 20px;
    }
    .drop-down-main {
        cursor: pointer;
        border-bottom: 1px dashed #d0d1d3;
        position: relative;
        display: block;
        margin-bottom: 5px;
        &:after {
            content: "";
            position: absolute;
            background: url("../img/icons/arrow-down-dark.png");
            width: 6px;
            height: 3px;
            top: 0;
            bottom: 0;
            right: -15px;
            margin: auto;
        }
    }
    .lang {
        cursor: pointer;
        border: 1px solid #e2e4e7;
        padding: 5px 15px 5px 33px;
    }
    .drop-down-lang {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            background: url("../img/icons/flag.png");
            width: 17px;
            height: 12px;
            left: -25px;
            top: 3px;
        }
        &:after {
            content: "";
            position: absolute;
            background: url(../img/icons/arrow-down-dark.png);
            width: 6px;
            height: 3px;
            right: -11px;
            background-repeat: no-repeat;
            top: 7px;
        }
    }
    .lang--active {
        background: #fff;
    }
    .lang-list {
        display: none;
        margin-top: 5px;
        li {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                background: url(../img/icons/flag2.png);
                width: 17px;
                height: 11px;
                left: -25px;
                top: 3px;
            }
        }
    }
    .signUp-title {
        font-size: 20px;
        color: #424242;
        margin-bottom: 25px;
        text-align: center;
    }
    form {
        label {
            font-size: 14px;
        }
        input {
            width: 100%;
            padding: 13px 18px;
            border: 1px solid transparent;
            @include border-radius(2px);
            background: #f0f2f5;
            outline: none;
            margin-bottom: 15px;
            &:focus {
                border: 1px solid $blue;
            }
        }
        .enroll_link {
            margin-top: 15px;
            background: #ed1b2f;
            font-size: 20px;
            width: 100%;
            text-transform: none;
            margin-bottom: 20px;
        }
    }
    .adresss-wrap {
        // width: 320px;
        // margin-left: -20px;
        width: 100%;
        background: #f0f2f5;
        padding: 20px 0;
        span {
            padding: 0 20px;
            font-family: "effrabold";
            font-size: 20px;
            margin-bottom: 15px;
            color: #424242;
            display: block;
        }
        ul {
            padding: 0 20px;
            li {
                margin-bottom: 10px;
                color: #424242;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@include breakpoint(480) {
    .sidenav{
        left: -100%;
        width: 100%;
        text-align: left;
    }
    .sidenav-tx {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .menu-adaprive-wrap {
        padding-right: 40px;
        text-align: center;
    }
    .intro-wrapper {
        background-color: $light-grey;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 30px;
        .tabs-content {
            background: none;
        }
    }
    .sidenav .search-input form .search-wrap {
        .search {
            display: block;
            padding: 11px 75px 11px 15px;
        }

        .btn-search-h {
            right: 1px;
            top: 1px;
            padding: 11px 12px;
            line-height: 1;
        }
    }
    .version,
    .loupe-wrap,
    .adress-wrap,
    .location-wrap,
    .flags-wrap {
        display: none;
    }
    .menu-toggle {
        margin-right: 0;
        .full {
            padding: 7px 0;
            color: transparent;
        }
    }
    .sidenav {
        margin-top: 50px;
    }
    .sidenav .active-class {
        margin-top: 0;
        margin-left: 0;
    }
    .telephone {
        display: inline-block;
    }
    .location-header {
        display: block;
    }
    .search-input,
    .version-wrap {
        display: block;
    }
    .header__sign-in {
        height: 90px;
        .sign-in-wrap {
            padding: 25px 0;
            .container {
                text-align: center;
                &:after {
                    clear: both;
                    content: '';
                    display: table;
                    height: 0;
                }
            }
        }
        .signUp-wrap {
            display: none;
        }
        .logo-wrap {
            margin-right: 0;
        }
        .menu-toggle {
            margin-right: 0;
            padding-right: 0;
        }
        .signUp-wrap {
            margin-top: 9px;
            a {
                padding: 10px 20px;
            }
        }
        .signUp-tel {
            display: inline-block !important;
            width: 30px;
            margin-top: 9px;
            vertical-align: middle;
            float: right;
            border: 1px solid #fff;
            @include border-radius(2px);
            height: 30px;
            line-height: 30px;
            text-align: center;
            img {
                vertical-align: middle;
            }
        }
        .phone-wrap {
            display: none;
        }
    }
    .intro-wrapper {
        .container {
            padding: 0;
        }
        .tabs-list {
            display: none;
            .tabs-item {
                width: 280px;
            }
            .tabs-item--active {
                width: 280px !important;
                border-bottom: 1px solid red;
            }
        }
        .tabs-content {
            width: 100%;
            .tab {
                padding: 0;
                margin-bottom: 20px;
                min-height: auto;
                display: block !important;
                .tabs-item {
                    display: block;
                    width: 100%;
                    padding: 0;
                    padding-left: 80px;
                    margin-bottom: 10px;
                    float: none;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        background: url(../img/icons/plus.png);
                        width: 18px;
                        height: 18px;
                        top: 0;
                        bottom: 0;
                        right: 20px;
                        margin: auto;
                        background-repeat: no-repeat;
                    }
                }
                .tabs-item--active {
                    border-bottom: 1px solid #ececec;
                    &:after {
                        background: url(../img/icons/minus.png);
                        background-repeat: no-repeat;
                    }
                }
                .tab-wrapper {
                    display: none;
                    margin-top: -10px;
                    background: #fff;
                    padding: {
                        top: 10px;
                        right: 20px;
                        left: 20px;
                        bottom: 34px;
                    }
                }
                &:first-of-type {
                    .tab-wrapper {
                        display: block;
                    }
                }
            }
            .mrt {
                .mrt-list {
                    ul {
                    }
                }
                .mrt-dscr {
                    a {
                        width: 100%;
                    }
                }
            }
            .mrt {
                &:before {
                    background: url("../img/icons/mrt.png");
                    background-repeat: no-repeat;
                }
            }
            .kt {
                &:before {
                    background: url("../img/icons/comp.png");
                    background-repeat: no-repeat;
                    left: 17px;
                }
            }
            .yam {
                &:before {
                    background: url("../img/icons/yam.png");
                    background-repeat: no-repeat;
                    left: 20px;
                }
            }
            .other {
                &:before {
                    background: url("../img/icons/other_services.png");
                    background-repeat: no-repeat;
                    left: 24px;
                }
            }
        }
    }
    .header__sign-in--fixed {
        height: 70px;
        .sign-in-wrap {
            padding: 0;
            .full {
                font-size: 0;
                padding: 18px 18px 9px 19px;
            }
        }
    }
    .active-class {
        // transform: translateX(0);
        margin-left: 0;
    }
    .ml250 {
        // transform: translateX(0);
        margin-left: 0;
    }
    .ml320 {
        // transform: translateX(0);
        margin-left: 0;
    }
    .signIn-form-tr{
        .drop-down-wrap{

        }
    }
}
